@model TallinnaRakenduslikKolledz.Models.Delinquent
@{
    ViewData["Title"] = "Create Delinquent";
}
<h1>Create Delinquent</h1>
<h4>Delinquent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Violation" class="control-label"></label>
                <input asp-for="Violation" class="form-control" />
                <span asp-validation-for="Violation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="situation" class="control-label"></label>
                <input asp-for="situation" class="form-control" />
                <span asp-validation-for="situation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherOrStudent" class="control-label"></label>
                <input asp-for="TeacherOrStudent" class="form-control" />
                <span asp-validation-for="TeacherOrStudent" class="text-danger"></span>
            </div>
            <div class="form-group
">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


