@model Tallinnarakenduskolledz.Models.Student
@{
    ViewData["Title"] = "Õpilase muutmine";
}
<h1>Õpilase muutmine</h1>
<h3>
    muuda õpilase andmeid
</h3>
<div>
    <form asp-action="Edit">
        <div class="form-horizontal">
            <hr />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Lastname" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Lastname" class="form-control" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Firstname" class="form-control" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EnrollmentDate" class="form-control" />
                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="
</div>
            form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvesta" class="btn btn-primary" />
            </div>
        </div>
</div>
    </form>
<div>
    <a asp-action="Index">Tagasi nimekirja</a>

</div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
